<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ブロック崩し</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <div class="space"></div>
  <div class="frame">
    <h1>ブロック崩し</h1>
    <a href="/bandbs/" method="get">スタート</a>
    <h5>時間かかるよ♡</h5>
  </div>
  </body>